.TextForgotPassword {
    color: white;
    font-weight: bold;
    background-color: transparent;
    /* margin-top: 20px; */
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    padding-top: 105px;
    text-transform: uppercase;
}

.ButtonForgotPassword {
    background: none !important;
    box-shadow: none !important;
}

.FormTextField input {
    color: white !important;
}

.FormTextField label {
    color: white !important;
    font-size: 20px !important;
}